/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.page-content {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace !important;
  background-color: #E6E4E2;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 6rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 3rem;
  /* border-bottom: 1px solid black; */
  box-shadow: 0 2px 2px -2px gray;
}

@media only screen and (max-width: 600px) {
  .navigation {
    flex-direction: column;
  }
}

.menu {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu>* {
  padding-bottom: 1rem;
}

.menu>*:hover {
  color: chocolate;
  cursor: pointer;
}

.logo {
  color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo>* {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  font-family: 'Courier New', Courier, monospace !important;
  background-color: #E6E4E2;
  margin: 10rem 10rem 5rem 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quizzos-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quizzos-wrapper {
  font-size: small;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
}

.quizzo {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem;
}

.quizzo:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  .delete-button {
    visibility: visible;
  }
}

.delete-button {
  visibility: hidden;
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: chocolate;
  border-radius: 50%;
  top: -4.5rem;
  left: 3.5rem;
  color: #E6E4E2;
}
.loading-delete-submit {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 3px solid chocolate;
  border-radius: 50%;
  border-top-color: #E6E4E2;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;

  position: relative;
}

.submit-button {
  display: flex;
  gap: 0.5rem;
}
  
.loading-delete {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 3px solid chocolate;
  border-radius: 50%;
  border-top-color: #E6E4E2;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;

  position: relative;
  top: -4.5rem;
  left: 3.5rem;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* quizzos/[id]*/
.edit-link {
  display: flex;
  align-self: flex-end;
  color: chocolate;
}

.questions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 800px;
  margin-left: 10rem;
  margin-right: 10rem;
}


@media only screen and (max-width: 600px) {
  .questions-wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}


.question {
  padding-bottom: 1rem;
  cursor: pointer;
}

.question-content {
  display: flex;
}

.answer {
  padding-left: 2rem;
  visibility: hidden;
  display: flex;
}

.answer-visible {
  padding-left: 2rem;
  display: flex;
}

.title {
  color: chocolate;
}

.answer.show {
  visibility: visible;
}
.page-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4.5rem;
}


.search-input {
  font-family: 'Courier New', Courier, monospace !important;
  background: 0;
  border: 0;
  outline: none;
  width: 100%;
  max-width: 600px;
  caret-color: chocolate;
}

.search-input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 2rem;
}


@media only screen and (max-width: 980px) {
  .search-input {
    max-width: 300px;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  font-style: italic;
}


button {
  background: none;
  border: none;
  padding: 0;

  font-family: 'Courier New', Courier, monospace !important;


  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 0.5rem;
  box-shadow: 0 2px 2px -2px gray;

}

button:hover {
  color: chocolate;
}
.quizzo-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 10rem;
}

.quizzo-inputs {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.quizzo-inputs-without-button {}

.add-input {
  font-family: 'Courier New', Courier, monospace !important;
  background: 0;
  border: 0;
  outline: none;
  caret-color: chocolate;
}

.question-inputs-wrapper {
  width: 100%;
  display: flex;
}

.questi {
  flex: 2;
}